html{
    background-color: #8C52FF;
}

/*Header*/
header{
    width: 100%;
    height: 211px;
    display: flex;
    padding: 50px;
    background-color: #380C63;
    margin-bottom: -1px;
}

header img{
    width: 305px;
    height: 122px;
    margin-right: 110px;
    margin-left: 20px;
}

header div{
    margin-top: 51px;
}

header div a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
}

header div a:hover{
    color: #b6b6b6;
    cursor: pointer;
}

header div .acesse-agora{
    background-color: #8C52FF;
    border-radius: 30px;
    padding: 10px;
}

header div .acesse-agora:hover{
    color: #fff;
    background-color: #7e52d8;
    cursor: pointer;
}

/* Home */
#homeNext{
    color: #fff;
}

#homeNext h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 32px;
}

.FDA{
    padding: 60px;
    background: linear-gradient(0deg, #8C52FF 0%,#380C63 100%);
    width: 100%;
    height: 720px;
}

.FDA .princImg{
    float: right;
    width: 469px;
    height: 424px;
    margin-top: 90px;
}

.subTexto{
    font-size: 30px;
}


.FDA .subTexto{
    margin-bottom: 91px;
    inline-size: 557px;
    overflow-wrap: break-word;
}

.FDA .checks{
    display: flex;
    margin-bottom: 19px;
}

.FDA .checks img{
    width: 35px;
    height: 45px;
    margin-right: 10px;
}

.FDA .checks p{
    font-size: 25px;
}

.AP{
    padding: 60px;
    width: 100%;
    background-color: #4E1089;
    text-align: center;
}

.AP div{
    display: flex;
    margin-right: 10px;
    padding: 10px;

}

.AP div .personalisado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AP div .personalisado h3{
    font-weight: 400;
    font-size: 30px;
}

.AP div .personalisado img{
    width: 128px;
    height: 128px;
}

.PPV{
    margin-top: -1px;
    padding: 60px;
    width: 100%;
    background-color: #380C63;
}

.PPV .princImg{
    float: right;
    width: 414px;
    height: 385px;
    margin-top: 130px;
}

.PPV p{
    font-size: 30px;
    margin-bottom: 90px;
}

.PPV a{
    text-decoration: none;
    background-color: #8C52FF;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.PPV a:hover{
    color: #fff;
    background-color: #7e52d8;
    cursor: pointer;
}

.empresaParceira{
    margin-top: -1px;
    padding: 60px;
    width: 100%;
    background-color: #4E1089;
}

.empresaParceira p{
    font-size: 35px;
}

.empresaParceira img{
    float: right;
    width: 341px;
    height: 114px;
}

/*Plataforma*/
#plataforma{
    color: #fff;
}

.nossaPlataforma{
    margin-top: -1px;
    padding: 60px;
    width: 100%;
    background: linear-gradient(0deg, #8C52FF 0%,#380C63 100%);
}

.nossaPlataforma h2{
    font-size: 42px;
    margin-bottom: 60px;
    font-weight: bold;
}

.nossaPlataforma .princImg{
    float: right;
    width: 414px;
    height: 385px;
    margin-top: 130px;
}

.nossaPlataforma p{
    font-size: 25px;
    margin-bottom: 20px;
}

.processo{
    padding: 35px;
    margin-top: -1px;
    background-color: #8C52FF;
}

.processo img{
    width: 1100px;
    height: 264px;
    margin-left: 10px;
}

.processo div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.processo div p{
    width: 259px;
}

.funcionalidades{
    padding: 60px;
    width: 100%;
    background-color: #4E1089;
    text-align: center;
}

.funcionalidades div{
    display: flex;
    margin-right: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.funcionalidades div .personalisado{
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionalidades div .personalisado h3{
    font-weight: 400;
    font-size: 30px;
}

.funcionalidades div .personalisado img{
    width: 128px;
    height: 128px;
}

/*Parceria*/
#parceria{
    color: #fff;
}

.porto{
    margin-top: -1px;
    padding: 60px;
    width: 100%;
    background: linear-gradient(0deg, #8C52FF 0%,#380C63 100%);
}

.porto .title{
    margin-bottom: 20px;
}

.porto .title h2{
    font-size: 45px;
    font-weight: bold;
}

.porto .title span{
    color: #8C52FF;
}

.porto .princImg{
    float: right;
    width: 392px;
    height: 460px;
}

.porto p{
    font-size: 25px;
    margin-bottom: 50px;
}

.porto a{
    text-decoration: none;
    background-color: #4494FF;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.porto a:hover{
    color: #fff;
    background-color: #3470be;
    cursor: pointer;
}

/*Quem somos*/
#quemSomos{
    color: #fff;
}

.equipe{
    margin-top: -1px;
    padding: 60px;
    width: 100%;
    background: linear-gradient(0deg, #8C52FF 0%,#380C63 100%);
}

.equipe .titulo{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}

.equipe .titulo h2{
    font-weight: bold;
}

.equipe .titulo span{
    color: #8C52FF;
}

.equipe h3{
    font-size: 45px;
    margin-bottom: 50px;
}

.equipe img{
    float: right;
    width: 394px;
    height: 405px;
}

.equipe .princImg{
    float: right;
    width: 414px;
    height: 385px;
    margin-top: 130px;
}

.equipe p{
    font-size: 25px;
    margin-bottom: 20px;
}

.somosNos{
    padding: 60px;
    width: 100%;
    background-color: #4E1089;
    text-align: center;
}

.somosNos .title{
    display: flex;
    justify-content: center;
}

.somosNos .title h2{
    margin-top: 70px;
}

.somosNos .title img{
    width: 505px;
    height: 181px;
}

.somosNos .AGente{
    display: flex;
    margin-right: 10px;
    padding: 10px;
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-around;
    margin-bottom: 10px;
}

.somosNos .AGente .personalisado{
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.somosNos .AGente .personalisado h3{
    font-weight: 400;
    font-size: 30px;
}

.somosNos .AGente .personalisado img{
    width: 128px;
    height: 128px;
}

/*Login*/
#login{
    padding: 50px;
    color: #fff;
    background: linear-gradient(0deg, #8C52FF 0%,#380C63 100%);
}

.loginHeader img{
    width: 362px;
    height: 135px;
}

.loginCard{
    display: flex;
    justify-content: center;
}

.loginCard .imgCard{
    background-color: #7514D4;
}

.loginCard .imgCard img{
    width: 501px;
    height: 347px;
}

.loginCard form{
    padding: 50px;
    background-color: #C1A2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginCard form h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.loginCard form .username, .loginCard form .password{
    margin-bottom: 20px;
}

.loginCard form .username p, .loginCard form .password p{
    margin-bottom: 5px;
}

.loginCard form .username input, .loginCard form .password input{
    border: none;
    border-radius: 10px;
    height: 33px;
    width: 231px;
}

.loginCard form button{
    color: #fff;
    width: 109px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #380C63;
    font-weight: bold;
    margin-left: 67px;
    margin-bottom: 20px;
}

.loginCard form .cadastre{
    display: flex;
}

.loginCard form .cadastre p{
    margin-right: 20px;
}

/*Cadastro*/
#cadastro{
    padding: 50px;
    color: #fff;
    background: linear-gradient(0deg, #8C52FF 0%,#380C63 100%);
}

.cadastroHeader img{
    width: 362px;
    height: 135px;
}

.cadastroCard{
    display: flex;
    justify-content: center;
}

.cadastroCard .imgCard{
    background-color: #7514D4;
}

.cadastroCard .imgCard img{
    margin-top: 80px;
    width: 458px;
    height: 347px;
}

.cadastroCard form{
    padding: 50px;
    background-color: #C1A2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastroCard form h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.cadastroCard form .username, .cadastroCard form .password{
    margin-bottom: 20px;
}

.cadastroCard form .username p, .cadastroCard form .password p{
    margin-bottom: 5px;
}

.cadastroCard form .username input, .cadastroCard form .password input{
    border: none;
    border-radius: 10px;
    height: 33px;
    width: 231px;
}

.cadastroCard form button{
    color: #fff;
    width: 139px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #380C63;
    font-weight: bold;
    margin-left: 47px;
    margin-bottom: 20px;
}

.cadastroCard form .cadastre{
    display: flex;
}

.cadastroCard form .cadastre p{
    margin-right: 20px;
}


/*Footer*/
footer{
    color: #fff;
    padding: 32px;
    margin-top: -1px;
    display: flex;
    background-color: rgba(9, 7, 10, 81%);
}

footer img{
    margin-bottom: 17px;
    width: 306px;
    height: 72px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer .divImg{
    margin-right: 20px;
}

footer .links{
    display: flex;
    flex-direction: column;
}

footer .sobre{
    font-weight: bold;
    margin-top: 25px;
}

footer .links a{
    margin-bottom: 10px;
}